@charset "UTF-8";
/*--------------------
	common
--------------------*/
@media print {
body {    -webkit-print-color-adjust: exact;  }
}
html, body {overflow: auto;}
* html {
	/* for IE6 */
	overflow: hidden;
	overflow-x: auto;
	height: 100%;
}
* html body {
 /* for IE6 */
 overflow-y: auto;
 height: 100%;
}

body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #622121;
	min-width:1000px;
  overflow-x: hidden;
	position: relative;
}
button {  cursor: pointer;}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.fll {  float: left;}
.flr {  float: right;}
.tbl {  display: table;}
.clear{ clear:both;}
.center { text-align:center;}
.cell {  display: table-cell;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



/*--------------------
	header
--------------------*/
header {
  width: 1000px;
  height: 115px;
	background:#fff;
	margin: 0 auto;
	position:relative;
}
header h1 {
	position:absolute;
	top:20px;
	left:65px;
}
header>ul {
	text-align:right;
	width:500px;
	position:absolute;
	top:35px;
	right:0;
}
header>ul li:first-child {	border-left:1px solid #000;}
header>ul li {
	font-size:12px;
	font-weight:bold;
	line-height:1em;
	border-right:1px solid #000;
}
header>ul li a {
	text-decoration:none;
	color:#000;
	padding:0 13px;
}
header>ul li a:hover { text-decoration:underline;}
header nav {
	height:45px;
	margin: 0 -500%;    
	padding: 0 500%;
	background:#f28600;
	position:absolute;
	top:70px;
	left:120px;
	z-index:0;
}
header li {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
header>p {
	position:absolute;
	z-index:999;
	left:0;
	top:15px;
}

/*--------------------
	footer
--------------------*/
footer {
	padding-top:10px;
	background:#d4d4d4;
	border-bottom:25px solid #767676;
}
footer h1 {
	width:1000px;
	margin:0 auto;
}
footer h1 img { vertical-align:middle;}

/*--------------------
	content
--------------------*/
#wrap {	background:#fffee6; padding-bottom:100px;}
.bx-viewport {
  overflow: visible!important;
  width: 100%!important;
	background-color:transparent !important;
	box-shadow:none !important;
	border:none !important;
}
.area_img {
	width:1000px;
	margin:0 auto;
	position:relative;
	left:-100px;
	height:566px;
}
.area_img .slider {
	width:1200px !important;
	margin:0 auto;
}
.area_img .slider li ,
.area_img .slider img { width:1200px !important;}

.area_content {
	width:1030px;
	background:#fff;
	margin:-100px auto 0;
	padding:15px;
	position:relative;
	z-index:999;
}
.area_content .area_news {
	width:490px;
	float:left;
	position:relative;
	z-index:999;
}
.area_content .area_news h2 {	margin:-40px 0 0;}
.area_content .area_news .btn_area {
	position:absolute;
	top:2px;
	right:8px;
}
.area_content .area_news li:first-child { padding-top:0;}
.area_content .area_news li {
	padding:10px 5px;
	border-bottom:1px solid #d0cfb3;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-text-overflow:ellipsis; /* Firefox */
	-o-text-overflow: ellipsis; /* Opera */
}
.area_content .area_news li span {
	font-weight:bold;
	padding-right:15px;
}
.area_content .area_news li a {
	font-size:14px;
	color:#461818;
	text-decoration:none;
}
.area_content .area_news li a:hover { border-bottom:1px solid #461818;}
.area_content .area_bnr {	float:right;}
.area_content .area_bnrs {
	width:1010px;
	padding:20px 0 0;
}
.area_content .area_bnrs p {	float:left;}
.area_content .area_bnrs .open a {
	display:block;
	width:288px;
	height:260px;
	letter-spacing:-0.05em;
	font-weight:bold;
	line-height:1.4em;
	text-align:center;
	padding:180px 0 0 ;
	text-decoration:none;
	color:#000;
	background: url("../images/top/bg_opencampas.jpg") no-repeat left bottom;
}
.area_content .area_bnrs span.open_num { padding-right:5px;}
.area_content .area_bnrs span.open_date {
	font-size:32px;
}
.area_content .area_bnrs span.open_day {
	font-size:24px;
}
.area_content .area_bnrs span.open_week {
	font-size:18px;
}
.area_content .area_bnrs span.open_time {
	font-size:12px;
}

.area_campus { margin-bottom:70px;}
.area_campus h2 {
	text-align:center;
	margin:0 0 25px;
}
.area_campus .main-container {
  overflow: hidden;
  padding-bottom: 150px;
}
.area_campus .slider {
	width:212px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.area_campus .slider li {
  width: 250px!important;
  padding: 0;
	text-align:center;
}
.area_campus .slider li img { border:3px solid #fff;}

.area_bottom {
	width:1000px;
	margin:0 auto 100px;
}
.area_bottom .area_torikumi {
	width:435px;
	float:left;
}
.area_bottom .area_torikumi dl {
	margin:20px 0 30px;
}
.area_bottom .area_torikumi dt {
	width:130px;
	float:left;
	vertical-align:top;
}
.area_bottom .area_torikumi dt img {max-width:100%;}
.area_bottom .area_torikumi dd {
	width:285px;
	float:right;
	vertical-align:top;
}
.area_bottom .area_torikumi dd h3 { margin-bottom:10px;}
.area_bottom .area_torikumi dd h3 a {
	color:#622121;
	text-decoration:none;
}
.area_bottom .area_torikumi dd h3 a:hover { border-bottom:1px solid #461818;}
.area_bottom .area_torikumi .btn_area {
	text-align:center;
}
.area_bottom .area_fb {
	width:570px;
	height:385px;
	text-align:right;
	float:right;
}
.area_fb .fb-page>span ,.area_fb .fb-page>span>iframe ,.area_fb .u_0_0>div { width:570px !important;}

