@charset "utf-8";


/*--------- index ---------*/

/*-index Main-*/

.indexBG{
	background: url("../images/index/index_bg.jpg") repeat-x #f39700 top ;}
	
	
#IndexVisual{
	width: 900px;
	margin-top: 25px;
	background: url("../images/index/main_image.jpg") no-repeat top left;
	height:395px;}
	
	
	
#IndexVisual .MainImage{
	float:left;
	margin-top:40px;}
	
	
#IndexVisual .IndexMenu{
	width: 278px;
	margin-top:15px;
	text-align:right;
	margin-right:0;
    float:right;}
	
	
.IndexMenu .Menu{
	width: 278px;
	text-align:right;
	}
	
	
 .Menu  .MenuBG{
	 width:248px;
	 padding:30px 0 10px;
	 float:right;
	 background: url("../images/index/dep.jpg") no-repeat top right;}	
		
.Menu ul{
	margin-left:5px;
	margin-bottom:10px;}	

.Menu li{
	margin-left:10px;
	float:left;}

.Menu table{
	height:100px;
	margin-left: 45px;}

.Menu td{
	padding: 3px ;}
	
#Contents{
	padding-top:20px;
	width: 900px;}
	
#Contents h2{
	float:left;
	}		
/*-index 左コンテンツ-*/

.IndexConL{
	width: 650px;
	float: left;
	padding-top:20px;}

.IndexInfo{
	background: url("../images/index/box_bg.jpg") repeat-y;
	padding:20px 0;
	width:640px;
	margin-bottom: 30px;
	text-align:center;}
	
.IndexInfo .TitleBox{
    margin-bottom:5px ;}
	
.IndexInfo .TextBox{
	width: 600px;
	margin: 0 auto ;}
	
.TextBox .TextBoxL{
/*	float:left; */
	text-align:left;
	padding: 5px 0;
	margin-right:10px;}
	
	
.TextBox .TextBoxR{
/*	float:right; */
/*	width:350px; */
	width:590px; 
	padding:15px 0 0;
	text-align:left;}
	
.TextBoxR a{
	color:#412100;}
	
.TextBoxR a:hover{
	text-decoration:underline;}
		
	
.TextBox li{
	border-bottom: solid 1px #b2b2b2;
	font-size:14px;
	padding:5px 10px ;
	text-align:left;}
	
.TextBox li a{
	color:#412100;}
	
.TextBox li a:hover{
	text-decoration: underline;}
	


	
.TextBox .DateBox{
	color:#5b5b5b;
	font-size: 10px;
	}

.InfoBox{
	width: 550px;
	margin: 0 auto ;
	text-align:left;}	
	
		
.EntryTitle{
	width:550px;}
	
.EntryTitle .Date{
	float:left;
	width:80px;}
	
.EntryTitle h2{
	float:right;
	width:460px;
	font-weight:bold;}
	
	

.EntryL{
	float:left;
	width:230px;}	
	
.EntryR{
	float:right;
	width:310px;}
	
.EntryR h2{
	font-weight:bold;}
	
.EntryR .entry-content{
	width:310px;}	
	

/*-index 左コンテンツ-*/	
	
.IndexConR{
	float:right;
	width:245px;}
	
.IndexCam{
	width: 244px;
	background: url("../images/index/campus2014.jpg") no-repeat;
	padding: 150px 0 30px;
	text-align:center;}
	
	
/*--------- subject---------*/

/*-index-*/

.OtherBG{
	background: url("../images/subject/common/bg.jpg") repeat-x #fffdc9 top ;}
	
	
