@charset "utf-8";

/* CSS reset */

*{  margin: 0px;
	padding: 0px;
	font-size:14px;
	font-style:normal;
}

html ,body {height: 100%}

html{ overflow-y:auto; } 


img { border: none; 
      vertical-align:bottom;}

a { border: none;
    text-decoration: none; }


h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;}
	
	
ol, ul, li, dl, dt, dd {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

/* 要素CSS */

body{
	text-align:center;
	line-height:28px;
	margin:0 auto;
	font-size:14px;
	
	font:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; 
	background:#FFF;
	position:relative;}
	


.left{
	float:left;}
	
.right{
	float:right;}
	
.clear{
	clear: both;}

/*画像*/
	
.iepngfix {  
 behavior: expression(IEPNGFIX.fix(this));  
 }
	
hr{
	border-top:0px;
	border-bottom:1px solid #412100;}	
	
	
/* マージン */		
	
.MB5{
	margin-bottom:5px;}	
.MB10{
	margin-bottom:10px;}	
.MT10{
	margin-top:10px;}	
.MT20{
	margin-top:20px;}		
.MT40{
	margin-top:40px;}	
	
.MT50{
	margin-top:50px;}		
	
		
	.MTB10{
	margin:10px 0 20px;}	
		
.MR40{
	margin-right:40px;}
	
.MR10{
	margin-right:10px;}		
	
.MR17{
	margin-right:24px;}		
.MR13{
	margin-right:13px;}		
	
	
.MR50{
	margin-right:50px;}		
	
	
	
	
	.PL20TL{
		text-align:left;
		padding-left:20px;}
.PB35{
	padding-bottom:35px;}	
	.PB10{
	padding-left:10px;}	
	
/* WIDTH/HEIGHT */	

.H6{
	height:6px;}
	
/* 文字色 */	


.red{
	color:#e60012;}
	
/* 文字 */	
	

	
	
	
	.Font16{
	font-size:16px;	}
	
	



.FB16{
	font-size:16px;
	font-weight:bold;}
	
	
.FB14{
	font-size:14px;
	font-weight:bold;}
	

	
.FN14{
	font-size:14px;
	font-weight:normal;}
	
.FN12{
	font-size:12px;
	font-weight:normal;}
		
span.mini{
	font-size:10px;}	
	
.FB10{
	font-size:10px;
	font-weight:bold;}	

	
	