@charset "utf-8";
/* CSS Document */

#wrap{
	background:url("../images/common/footer/footer.jpg") bottom repeat-x;
	
	height:auto;}


#wrapper{
	margin:0 auto;
	height: auto;
	width: 100%;
	color:#412100;
	font:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; 
	text-align:center;
	}
	
#contener{
	margin:0 auto;
	height: auto;
	width: 900px;
	padding-bottom:30px;
	text-align:left;}


/* header */	
	
#header{
	width: 900px;
	padding: 8px 0 5px;}
	
	
#header h1{
	float: left;
	margin-right: 100px;}
	
#GlobalNav{
	float: left;
	height: 31px;
	margin-top: 12px;}
	
#GlobalNav ul{
	
	}
	
#GlobalNav li{
	float: left;
	background: url(../images/common/header/n_line.jpg) no-repeat left bottom;
	padding: 0 10px 0 8px;}
	

/*
#Search{

	float: right;}
#Search img{
	vertical-align:middle;}

#Search input{
	margin:0;
	padding: 0;
	vertical-align:middle;}
	
#Search input.text{
	height:18px;
	border:1px solid #878787;
	width:110px;
	}	
	
#Search input.button{
	border: 0px;
	height:20px;
	width: 31px;
	background: url(../images/common/header/s_button.jpg) no-repeat;
	}	
*/
#Search{

     float: right;}
#Search img{
     vertical-align:middle;
     }
#Search .s-text{
     font-size:10px;
     margin-left:10px;
     }
/* 20121011
#Search input{
     margin:0;
     padding: 0;
     vertical-align:middle;}
    
#Search input.text{
     height:18px;
     border:1px solid #878787;
     width:110px;
     }    

#Search input.button{
     border: 0px;
     height:20px;
     width: 31px;
     background: url(../images/common/header/s_button.jpg) no-repeat;
     }    
 */
         
/* Google検索ボックス用 */
#search-box {
width: 190px !important;
float: right;
/* margin-top: 2px;
margin-right: 5px; */
}
#search-box table.gsc-search-box td.gsc-input {
padding: 0 !important;
}
#search-box input[type="text"] {
/* border-radius: 5px 0 0 5px; */
border:1px solid #878787;
margin-top:5px;
height: 18px;
padding: 0 !important;
width: 125px;
float: left;
margin-left: 18px;
}
#Search input.button{
     border: 0px;
     height:20px;
     width: 31px;
     background: url(../images/common/header/s_button.jpg) no-repeat;
     }    
	
	
/* navi */	

#nav{
	width:900px;}
	
#nav li{
	float:left;}
	
	
/* Request */

#Request{
	width: 640px; }	

#RequestBox{
	width: 634px;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background:#f36100;
	text-align:center;}	
	
#RequestInner{
	width: 600px;
	background: #FFF;
	padding: 10px 0;
	text-align:center;
	margin: 0 auto 15px;}
	
#RequestImage{
	width: 580px;
	margin: 0 auto;}
		
/* ページタイトル */


#PageTitle{
	position:relative;
	padding-bottom:10px;}
	
#PageTitle h3{
	margin-top:20px;}	
	
/* 各ページのコンテンツ部分 */	
	
	.Contents{
		
		width:630px;
		float:right;}
.Contents h3{
	padding:5px 0 20px;}		
		
	.ContentsBox{
		width:630px;
		margin-bottom:30px;}	
		

.Contents h3.Btp{
	padding:5px 0 0;}		
	
/* no01のコンテンツ部分 */	
#ContentsLarge{
	width:100%;
	padding:10px 0;
	background:#FFF;}	


.ContentsLarge{
	width:864px;
	margin:0 auto;
	padding:10px 0 30px;
	}
	

#ContentsLarge h3,#ContentsLarge h4{
	text-align:left;
	margin-bottom:20px;}
	

/* 追加分 */		

#ContentsLarge2{
	width:100%;
	padding:0 0 10px;
	margin-top:0;
	background:url(../images/entrance/top/bg.jpg) repeat-x top #ffefd5;}	
	
.ContentsLarge2{
	width:864px;
	margin:0 auto;
	padding:0 0 30px;
	}	

	
/* Footer */

#footerWrapper{
	width: 100%;
	height:105px;
	bottom:0;
	left:0;}
	
	

#footer{
	width: 900px;
	height:105px;
	margin: 0 auto ;
	text-align:left;}
	
#footer h1{
	float:left;}
	
	
#footer .Address{
	font-size:12px;
	color:#231815;
	float:right;
	width:580px;
	margin-top:20px;
	line-height:1.2;}
	
#footer .Address h2{
	margin-bottom:5px;}
	
#footer .Address a{
	color:#231815;}
	
#footer .Address a:hover{
	color:#231815;
	text-decoration:underline;}
	