@charset "UTF-8";
/*--------------------
	common
--------------------*/
@media print {
body {    -webkit-print-color-adjust: exact;  }
}
html, body {overflow: auto;}
* html {
	/* for IE6 */
	overflow: hidden;
	overflow-x: auto;
	height: 100%;
}
* html body {
 /* for IE6 */
 overflow-y: auto;
 height: 100%;
}

body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.8em;
  color: #622121;
  overflow-x: hidden;
	position: relative;
}
button {  cursor: pointer;}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.fll {  float: left;}
.flr {  float: right;}
.tbl {  display: table;}
.clear{ clear:both;}
.center { text-align:center;}
.cell {  display: table-cell;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
img { vertical-align:bottom;}


/*--------------------
	header
--------------------*/
header {
	background:#fff;
	margin: 0 auto;
	position:relative;
	height:auto;
}
header h1 {
	width:48%;
	margin:5% 0 4% 3.5%;
	float:left;
}
header nav {
	width:100%;
	background:#f28600;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
header .btn_menu {
	width:17.5%;
	float:right;
}
header .menu_over {
	width:100%;
	background:#ff8229;
	opacity:0.9;
	position:absolute;
	padding:0;
	top:0;
	z-index:1000;
}
header nav div:not(.menu_over) {
	width:100%;
	background:#fff;
	z-index:1001;
	position:relative;
	top:0;
	left:0;
}
header #close {
	width:17.5%;
	float:right;
}
header nav ul {
	z-index:1001;
	position:relative;
}
header nav li {
}
header nav li a {
	font-size:1rem;
	text-align:center;
	border-bottom:1px solid #fff;
	background:#f28600;
	width:100%;
	line-height:3em;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	display:block;
}
/*--------------------
	footer
--------------------*/
footer {
	padding-top:5%;
	background:#d4d4d4;
	border-bottom:1em solid #767676;
}
footer h1 {
	width:50%;
	margin:0 0 0 10%;
}

/*--------------------
	content
--------------------*/
#wrap {	background:#fffee6; padding-bottom:8%;}
.area_content {
	width:90%;
	margin:-2em auto 0;
	padding:1.5% 4.5%;
	position:relative;
	z-index:999;
	background:#fffee6; 
}
.area_content .area_news {
}
.area_content .area_news li {
	padding:0.7em 0 ;
	line-height:1.5em;
	border-bottom:1px solid #d0cfb3;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-text-overflow:ellipsis; /* Firefox */
	-o-text-overflow: ellipsis; /* Opera */
}
.area_content .area_news li span {
	font-weight:bold;
	font-size:0.7rem;
	display:block;
}
.area_content .area_news li a {
	font-size:0.8rem;
	color:#461818;
	text-decoration:none;
}
.area_content .area_news .btn_area { margin:5% 0 8%;}
.area_content .area_news .btn_area a {
	background:#fff;
	font-size:0.9rem;
	font-weight:bold;
	padding:0.4em 0;
	text-align:center;
	text-decoration:none;
	color:#925033;
	border:1px solid #fadfd4;
	display:block;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-khtml-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
.area_content .area_bnr {	margin-bottom:5%;}
.slide_area {	margin:0 0 8%;}
.slide_area .slider li img {
	width:86%;
	margin:0 auto;
}
.bx-viewport {
  overflow: visible!important;
  width: 100%!important;
	background-color:transparent !important;
	box-shadow:none !important;
	border:none !important;
	left:0 !important;
}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
	width:1.8em !important;
	height:2.5em !important;
}
.bx-wrapper .bx-next {
	background: url("../images/top/btn_next.png") no-repeat left bottom !important;
	background-position: center center !important;
	right:0.5em !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.bx-wrapper .bx-prev {
	background: url("../images/top/btn_prev.png") no-repeat !important;
	left:0.5em !important;
	background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.area_open {
	width:84%;
	margin:0 auto;
	background: url("../images/top/bnr_opencampus.png");
	background-position:center top;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
	padding:16.5% 15.5% 0 15.5%;
}
.area_open a {
	width:100%;
	display:block;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	line-height:1.1em;
	color:#000;
	position:relative;
	left:0;
	top:0;
	z-index:1;
	background: url("../images/top/bnr_opencampus_bg.png") repeat-y;
	background-size: contain;
}
.area_open a img.ttl { margin-bottom:2%;}
.area_open span.open_num { 
	font-size:0.6rem;
	margin-right:2%;
}
.area_open span.open_date {	font-size:0.9rem;
}.area_open span.open_day {	font-size:0.9rem;}
.area_open span.open_week ,
.area_open span.open_time {	font-size:0.6rem;}
.area_shiryo {
	width:84%;
	margin:0 auto 15%;
}
.area_torikumi {
	background:#fff;
	padding-bottom:5%;
	margin-bottom:5%;
}
.area_torikumi dl {
	padding:5%;
}
.area_torikumi dt {
	width:40%;
	float:left;
	vertical-align:top;
}
.area_torikumi dt img {max-width:100%;}
.area_torikumi dd {
	width:55%;
	float:right;
	line-height:1.4em;
	font-size:0.8rem;
	vertical-align:top;
}
.area_torikumi dd h3 { margin-bottom:3%;}
.area_torikumi dd h3 a {
	color:#622121;
	text-decoration:none;
	font-size:0.9rem;
}
.area_torikumi dd h3 a span {
	font-size:0.6rem;
}
.area_torikumi .btn_area {
	width:92%;
	margin:0 auto;
}
.area_torikumi .btn_area a {
	text-align:center;
	color:#fff;
	font-size:0.9rem;
	line-height:2em;
	font-weight:bold;
	background:#925033;
	text-decoration:none;
	display:block;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-khtml-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}

.area_fb  .fb-page {
  width: 83%;
  display: block;
  margin: 0 auto;
}
#wrap > .center {
	width:80%;
	margin:12% auto 0;
}





